# Dependencies
node_modules/
dist/

# Environment files
.env
.env.*.local

# Capacitor build
android/
ios/
build/
www/

# System files
.DS_Store
Thumbs.db

# Firebase secret or credentials
*.json
!firebase-config.json

# Vite cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
