.dashboard-container {
  
  min-height: 50vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.glow {
  color: #fff;
  text-shadow: 0 0 6px #38ff91, 0 0 6px #38ff91;
}

.dashboard-card {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  max-width: 700px;
  padding: 20px 20px;
  margin: 50px 20px;
  margin-top: 1px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.dashboard-card input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: none;
  width: auto;
}

.dashboard-card ul {
  list-style: none;
  padding-left: 0;
}

.dashboard-card h5,b{
  color: #38ff91;
  font-weight: bold;}

.dashboard-card li {
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 8px;
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-joined{
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 8px;;
}

.tour-joined b{
  color: #38ff91;
  font-weight: bold;
  font-size: .8rem;
}

.glow {
  color: #fff;
  text-shadow: 0 0 6px #9effb4, 0 0 10px #38ff91;
}

@media screen {
  .tour-joined b{
  color: #38ff91;
  font-size: 1rem;
}
.tour-joined span{
  color: #38ff91;
  font-size: .8rem;
}
  
}
