
.tournaments-container {
  min-height: 50vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.glow {
  color: #fff;
  text-shadow: 0 0 6px #38ff91, 0 0 1px #38ff91;
}

.tournaments-content {
  max-width: 800px;
  width: 100%;
  color: white;
  font-family: 'Debata', sans-serif;
  font-weight: 600;
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 2rem;
  border-radius: 8px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 1000;
  max-width: 300px;
  text-align: center;
}
.modal button {
  margin-top: 10px;
  margin-right: 8px;
}


.glass-card {

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 15px;
  color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  max-width: 500px;
  width: 90%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 20px;
  color: white;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
  position: relative;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
